@font-face {
  font-family: 'Styrene';
  src: url('../webfonts/StyreneA-Regular-Reduced.eot'); /* IE9 Compat Modes */
  src: url('../webfonts/StyreneA-Regular-Reduced.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../webfonts/StyreneA-Regular-Reduced.woff') format('woff'), /* Modern Browsers */
        url('../webfonts/StyreneA-Regular-Reduced.woff2') format('woff2'), /* Modern Browsers */
        url('../webfonts/StyreneA-Regular-Reduced.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../webfonts/StyreneA-Regular-Reduced.svg#wf')  format('svg');
        font-style: normal;
        font-weight: 400;
  }

@font-face {
  font-family: 'Styrene';
  src: url('../webfonts/StyreneA-RegularItalic-Reduced.eot'); /* IE9 Compat Modes */
  src: url('../webfonts/StyreneA-RegularItalic-Reduced.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../webfonts/StyreneA-RegularItalic-Reduced.woff') format('woff'), /* Modern Browsers */
        url('../webfonts/StyreneA-RegularItalic-Reduced.woff2') format('woff2'), /* Modern Browsers */
        url('../webfonts/StyreneA-RegularItalic-Reduced.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../webfonts/StyreneA-RegularItalic-Reduced.svg#wf')  format('svg');
        font-style: italic;
        font-weight: 400;
  }

@font-face {
  font-family: 'Styrene';
  src: url('../webfonts/StyreneA-Medium-Reduced.eot'); /* IE9 Compat Modes */
  src: url('../webfonts/StyreneA-Medium-Reduced.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../webfonts/StyreneA-Medium-Reduced.woff') format('woff'), /* Modern Browsers */
        url('../webfonts/StyreneA-Medium-Reduced.woff2') format('woff2'), /* Modern Browsers */
        url('../webfonts/StyreneA-Medium-Reduced.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../webfonts/StyreneA-Medium-Reduced.svg#wf')  format('svg');
        font-style: normal;
        font-weight: 500;
  }

@font-face {
  font-family: 'Styrene';
  src: url('../webfonts/StyreneA-MediumItalic-Reduced.eot'); /* IE9 Compat Modes */
  src: url('../webfonts/StyreneA-MediumItalic-Reduced.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../webfonts/StyreneA-MediumItalic-Reduced.woff') format('woff'), /* Modern Browsers */
        url('../webfonts/StyreneA-MediumItalic-Reduced.woff2') format('woff2'), /* Modern Browsers */
        url('../webfonts/StyreneA-MediumItalic-Reduced.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../webfonts/StyreneA-MediumItalic-Reduced.svg#wf')  format('svg');
        font-style: italic;
        font-weight: 500;
  }  